<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Welcome!</p>
    <a href="/dashboard/newpost" class="btn btn-outline-secondary pl-8">Create Post</a>
  </div>
</div>



{{#each dashPosts as |dashpost|}}
<div class="card text-center">
  <div class="card-header">
    <a href="/posts/{{id}}">{{title}}</a>
  </div>
  <div class="card-body">
    <p class="card-text">{{contents}}</p>
  </div>
  <div class="card-footer text-muted">
    Created on {{format_date createdAt}} at {{format_time createdAt}}
  </div>
</div>
{{/each}}