<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Tech Blog</h1>
    <p class="lead">Welcome to the Tech Blog app!</p>
  </div>
</div>

{{#each posts as | post |}}
<div class="card text-center mb-4">
  <div class="card-header">
    <a href="/posts/{{id}}">{{title}}</a>
  </div>
  <div class="card-body">
    <p class="card-text">{{contents}}</p>
  </div>
  <div class="card-footer text-muted">
    {{user.username}} posted on {{format_date createdAt}} at {{format_time createdAt}}
  </div>
</div>
{{/each}}