<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Posts</h1>
    <p class="lead">You will find your single posts here.</p>
  </div>
</div>


<div class="card text-center mb-4">
  <div class="card-header">
    {{singlePost.title}}
  </div>
  <div class="card-body">
    <p class="card-text">{{singlePost.contents}}</p>
  </div>
  <div class="card-footer text-muted">
    {{singlePost.user.username}} created on {{format_date singlePost.createdAt}} at {{format_time singlePost.createdAt}}
  </div>
</div>

<div class="card text-center mb-4">
  <div class="card-header">
    Comments
  </div>
    {{#each singlePost.comments as |comments|}}
  <div class="card-body">
    <p class="card-text text-left">{{contents}}</p>
    <p class="card-text text-right text-muted font-italic">{{user.username}} commented on {{format_date createdAt}}</p>
  </div>
    {{/each}}
</div>

<div class="card text-center">
  <div class="card-body">
    <form class="commentSubmit">
      <div class="form-group">
          <input type="hidden" name="postid" value={{singlePost.id}}>
          <label for="updatePostContent">Comment</label>
          <input type="text" class="form-control" id="updatePostContent">
      </div>
          <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
  </div>
</div>

<script src="/js/newComment.js"></script>
